#contentContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#itemsContainer{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 50px;
}

#alumnoContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 300px;
  border-radius: 15px;
  padding: 15px 0 0 30px ;
}

.textContainer{
  display: flex;
  column-gap: 10px;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

#colorBoxGreen{
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #80ed99;
}
#colorBoxRed{
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #d90429;
}

.textLegend{
  width: 400px;
  font-size: 16px;
  margin: 0;
}

.destacado {
  background-color: #80ed99;
  font-weight: bold;
}

.bajo {
  background-color: #d90429;
  font-weight: bold;
}
