<div id="contentContainer">
  <h1>Lista de alumnos</h1>
  <div class="textContainer">
    <div id="colorBoxGreen"></div>
    <p class="textLegend">Alumnos aprobados</p>
  </div>
  <div class="textContainer">
    <div id="colorBoxRed"></div>
    <p class="textLegend">Alumnos en riesgo</p>
  </div>
  <div id="itemsContainer">
    <div *ngFor="let alumno of alumnos">
      <div id="alumnoContainer"  [ngClass]="{ 'destacado': isPromedioAlto(alumno.promedio), 'bajo': isPromedioBajo(alumno.promedio) }">
        <h3>{{ alumno.nombre }}</h3>
        <p>Edad: {{ alumno.edad }}</p>
        <p>Promedio: {{ alumno.promedio | number:'1.1-1' }}</p>
      </div>
    </div>

  </div>
</div>
